body {
    background: #071406;
    background: linear-gradient(90deg, rgba(7, 20, 6, 1) 8%, rgba(79, 105, 79, 1) 50%, rgba(7, 20, 6, 1) 92%);
    font-family: Arial, sans-serif;
    text-align: center;
    color: #071406;
    margin-top: 100px;
}

h1 {
    font-size: 70px;
    margin-top: 300px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 22px;
    font-weight: bold;
    margin-top: -40px;
}

#image {
    border-radius: 20px;
    overflow: hidden;
    width: auto;
    margin-bottom: -300px;
    margin-top: -80px;
}